@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@import url("sidebar.css");
@import url("main-content.css");

:root {
  --customBlue: rgb(12, 117, 158);
  --transparentBlue: rgba(12, 117, 158, 0.6);
  --customWhite: #f4f4f4;

  --gray: #444;
  --white: #fff;
  --transparentDark: rgba(0, 0, 0, 0.2);

  --fontSm: 0.9rem;
  --transition: 0.4s ease;
}

*,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--white);
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "lato", sans-serif;
  scroll-behavior: smooth;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 14px;
}
#navbar ul::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--customWhite);
  box-shadow: inset 0 0 5px var(--gray);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--transparentBlue);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--customBlue);
}

::selection {
  background-color: var(--customBlue);
  color: var(--customWhite);
}
::-moz-selection {
  background-color: var(--customBlue);
  color: var(--customWhite);
}

#wrapper {
  display: flex;
  justify-content: center;
}

section {
  margin-bottom: 50px;
}

article {
  margin-left: 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: var(--customWhite);
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  max-width: 900px;
}

h1,
p {
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  text-shadow: 1px 1px 1px var(--transparentDark);
}

h2 {
  margin-bottom: 30px;
  font-size: 1.725rem;
}

p {
  font-size: var(--fontSm);
}

a {
  transition: 0.4s ease;
  text-decoration: none;
}

li {
  list-style-type: none;
}

section li {
  list-style-type: disc;
  margin-bottom: 10px;
  margin-left: 35px;
  padding-left: 5px;
  font-size: var(--fontSm);
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  margin: 20px auto;
}

@media screen and (max-width: 769px) {
  #wrapper {
    flex-direction: column;
  }
}
