#sidebar {
  min-width: 300px;
  padding: 30px 20px;
  border-right: 1px solid var(--transparentDark);
  background-color: rgba(159, 171, 187, 0.75);
  z-index: 9;
  transition: var(--transition);
}

#navbar {
  position: fixed;
  /* min-width: 200px; */
  overflow: hidden;
}

#navbar ul {
  max-height: 600px;
  overflow: auto;
}

#navbar .nav-link {
  display: block;
  min-width: 180px;
  margin-bottom: 10px;
  padding: 10px;
  color: var(--black);
  background-color: var(--customWhite);
  border-radius: 5px;
}

#navbar .nav-link:hover {
  background-color: var(--customBlue);
  color: var(--white);
}

@media screen and (max-width: 769px) {
  #sidebar {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 280px;
    border-right: none;
    transition: var(--transition);
  }

  .show-sidebar {
    display: none;
  }

  #navbar {
    width: 100%;
    max-width: 725px;
    margin: auto;
    max-height: 280px;
  }

  #navbar ul {
    max-height: 270px;
  }

  #navbar .nav-link {
    width: 100%;
    max-width: 685px;
  }
}

@media screen and (max-width: 426px) {
  #navbar {
    max-width: 380px;
  }
  #navbar .nav-link {
    max-width: 345px;
  }
}

@media screen and (max-width: 376px) {
  #navbar {
    max-width: 330px;
  }
  #navbar .nav-link {
    max-width: 290px;
  }
}

@media screen and (max-width: 321px) {
  #navbar {
    max-width: 280px;
  }
  #navbar .nav-link {
    max-width: 240px;
  }
}
